

.container-fluid {
  background-color: white;

}
.jumbotron {
  background-color: white;

  height:450px;
  width: 700px;
  margin-left: 350px;
}
.card-header {
  background-image: url("https://thumbs-prod.si-cdn.com/yxAcgcM0Av11y_2ZzJpjldsR17A=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/starspangledbanner_nov08_631.jpg");
  color: white;
}

.btn {
  background-image: url("https://thumbs-prod.si-cdn.com/yxAcgcM0Av11y_2ZzJpjldsR17A=/800x600/filters:no_upscale()/https://public-media.smithsonianmag.com/filer/starspangledbanner_nov08_631.jpg");

}

.carousel-inner {
  position: center;
  height: 450px;
  width: 650px;
}


.twitter-tweet {
  color: white;
}

.carousel-control-prev-icon {
  position: center;
}

.item {
  position: center;
}

#row1 {

  /*margin-left: 310px;*/
  /*background-image: url("https://thumbs.dreamstime.com/z/gilded-frame-21221791.jpg");*/
  /*z-index: 1;*/
}
#tweet {
height:350px;
width: 600px;
padding: 10px;
border-radius: 50px;
margin-top: 50px;
margin-bottom: 150px;
}
#row2 {
  padding: 50px;
  border-radius: 50px;
}
